.history__inner {
    display: flex;
    justify-content: center;
    align-items: end;

    .history__desc {
        background: #fff;
        margin-left: -146px;
        padding-top: 97px;
        padding-left: 86px;
        max-width: 480px;
        h2 {
            font-size: 40px;
            margin-bottom: 25px;
        }
        p {
            color: hsl(0, 0%, 55%);
        }
    }
}
