.container {
    max-width: 1370px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.py {
    padding-block: 7rem;
}

.py-3 {
    padding-block: 3rem;
}

.section__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    h2 {
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif;
    }
}

.btn {
    padding: 6px 35px;
    border: 2px solid #000;
    font-family: "Alata", sans-serif;
    letter-spacing: 1.3px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    &:hover {
        background: #000;
        color: #fff;
    }
}

.hover {
    position: relative;
    &::before {
        content: "";
        width: 25px;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
    }
    &:hover::before {
        opacity: 1;
    }
}
